FACTORIO_USERNAME=your-factorio.com-username
FACTORIO_TOKEN=your-factorio.com-auth-token
SAVE_NAME=your-save-name
SERVER_NAME=your-server-name
SERVER_DESC=your-server-description
MAX_PLAYERS=16
GAME_PASSWORD=
RCON_PASSWORD=your-rcon-password
