# Host GID of the "docker" group (`getent group docker`) - mc-router's container
# user needs to be a member of it to use the docker.sock bind-mount. Only set
# this if your host's docker GID isn't 988 (the compose default).
DOCKER_GID=

ZINNBERLYCRAFT_HOST=

FOREVERWORLD_HOST=

FOREVERWORLD_MOTD=

ATM10_HOST=

ATM10_MOTD=

ATM11_HOST=

ATM11_MOTD=

GTNH_HOST=
